<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
        </div>
        <table>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Number of items</th>
            </tr>
            {% for todo in todo_show_list %}
            <tr>
                <td>{{ todo.name }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>
